.containerList {
  width: 100%;
  margin: 5px;
}

.containerCard {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;

  @media (min-width: 1024px) {
    max-height: 600px;
    padding: 5px;
  }
}

.listCard {
  width: 97%;
  margin: 0;
  margin-top: 5px;
}

.containerHigher {
  display: flex;
  justify-content: center;
  width: 97%;
  height: auto;

  gap: 5px;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    width: 99%;
    justify-content: space-between;
  }
}

.containerButtons {
  display: flex;
  gap: 5px;

  @media (min-width: 768px) {
    gap: 45px;
  }
}

.buttonList {
  height: 40px;
  width: max-content;
  margin: 0;
  border-radius: 8px;
}

.buttonList:nth-of-type(1) {
  background: rgba(253, 55, 126, 1);
  color: white;
}

.textTitleList {
  height: 30px;
  width: max-content;

  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;

  color: rgba(33, 37, 41, 1);
  margin: 0;
  text-align: center;
}

li {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.noCard {
  width: 97%;
  height: 100px;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.textempty {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;

  text-align: center;
  color: rgba(52, 58, 64, 1);
}
