.containerSupreme {
  border-radius: 4px;
  background-color: rgba(248, 249, 250, 1);
  width: 100%;
}

.containerSideGreen {
  width: 4px;
  background-color: rgba(3, 184, 152, 1);
  border-radius: 4px;
}

.containerGrey {
  display: flex;
  width: auto;
}

.containerSideGrey {
  display: flex;

  width: 4px;
  background-color: rgba(233, 236, 239, 1);
  border-radius: 4px;
}

.blockLeft {
  height: 68px;
  max-width: 337px;
  padding-left: 5px;
}

.blockRight {
  display: flex;
  justify-content: end;
  padding-top: 2px;
  width: 100%;
}

.imgTrash {
  height: 9px;
  width: 8px;
  margin-top: 6px;
  background-image: url("./Icons/trash.svg");
  background-size: cover;
  margin: 6px 0px 0px 0px;
  cursor: pointer;
}

.titleCard {
  height: 32px;
  max-width: 337px;
  top: 8px;
  font: 700;
  font-family: Nunito;
  font-size: 16px;
  line-height: 30px;
  color: rgba(33, 37, 41, 1);
}

.priceCard {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;

  color: rgba(33, 37, 41, 1);
}
