button {
  width: 64px;
  height: 40px;
  background-color: rgba(233, 236, 239, 1);
  border: 1.4px solid rgba(233, 236, 239, 1);
  border-radius: 8px;

  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  color: rgba(52, 58, 64, 1);
  line-height: 19.1px;
  text-align: center;

  margin: 22px 261px 26px 0px;
  cursor: pointer;
}
